.inputMessage {
  height: 300px;
  width: 600px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
}

.inputMessage::placeholder {
  color: #aaa;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .inputMessage {
    width: 400px;
    height: 180px;
    font-size: 14px;
  }
  .inputMessage::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .inputMessage {
    width: 90%;
    height: 150px;
    font-size: 12px;
  }
  .inputMessage::placeholder {
    font-size: 12px;
  }
}
