.contactmeContainer {
  display: flex;
  width: 100%;
}
.contactmeContaineChildOne {
  display: flex;
  align-self: center;
  width: 50%;
  height: 100%;
}
.contactmeContaineChildTwo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 768px) {
  .contactmeContaineChildTwo {
    display: none;
  }
  .contactmeContaineChildOne {
    width: 100%;
    height: 50%;
    padding: 0%;
  }
}
