.hardSkillsGreyButton{
    background-color: #D9D9D9;
    border: none;
    height: 100%;
    font-size: 36px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}