.playButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playVideoButton {
  background-color: #a6a5a6;
  border: none;
  border-radius: 60px;
  height: 80px;
  width: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playVideoButton:hover {
  background-color: #c0bbff;
}

.imgPlayVideoButton {
  height: 70px;
  width: 70px;
}

.videoCard {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPlayer {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .ParagraphinfoP {
    margin: 30px 30px 30px 30px;
  }
}
