.cvButton{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.cvButton:hover{
    background-color: #C0BBFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}