.informationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

@media (max-width: 1024px) {
  .informationContainer {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .informationContainer {
    padding: 5px;
  }
}
